@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:none">
    <h1 style="text-align:center">ZdravaHrana.com</h1>
</div>

<script type="text/javascript"></script>
<style>
    body {
        background-image: url("https://ak.picdn.net/shutterstock/videos/1009684643/thumb/1.jpg");
        height: 100%;
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
</style>